{% extends "learning_logs/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
    <h1>Topics</h1>
{% endblock page_header %}

{% block content %}
    {% buttons %}
    <a href="{% url 'learning_logs:new_topic' %}">
        <button name="add-topic" class="my-2 btn btn-primary">Add New Topic</button>
    </a>
    {% endbuttons %}
    <ul>
        {% for topic in topics %}
            <li><h4>
                <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
            </h4></li>
        {% empty %}
            <h4>No topics have been added yet</h4>
        {% endfor %}
    </ul>

{% endblock content %}
